/* Commented the background color since I don't want any background color. I just want to stick with my glacier background */
/* * {
    background-color: white;
} */

body {
    background-image: url('AlaskaGlacier.jpg');
    background-attachment: fixed;
    background-position: center; 
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
}

h1 {
    text-align: left;
    align-items: center;
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 40px black;
}

h2 {
    text-align: left;
    align-items: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 40px black;
}

section {
    text-align: left;
    align-items: center;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 30px black;
}

.icons ul{
    position: absolute;
    display: flex;
    /* Will get rid of the bullets */
    list-style: none;
    margin: 0 15px;
    color: white;
}

.icons ul li{
    position: relative;
    display: block;
    width: 60px;
}

a {
    color: white;
}

